body{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: #2D2466;
}
.control {
    cursor: pointer;
}
button {
    width: 200px;   
    height: 50px;
    font-size: 20px;
    background: #9CA6C9;
    color: white;
    border-radius: 8px;
    border: solid white 3px;
}
button:hover{
    background-color: #FFD4E7;
}
h1{ 
    text-shadow: 4px 2px #9CA6C9;
    font-size: 70px;
}
a{
    color: #1A113C;
}
h2{
    font-size: 50px;
}
.name{
    width: 600px;
    height:400px;
    margin: 20px;
    border-radius: 10px;
}
.one{
    width: 400px;
    height: 400px;
    display: none;
}
.two{
    width: 400px;
    display: none;
}
.three{
    width: 800px;
    height: 350px;
    display: none;
}
.heading{
    display:flex;
    background-image: url("https://pm1.narvii.com/6838/efbcb18db543cf1795f71430d7cbb8e588cdf4cfv2_hq.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.allspell{
    background-image: url("https://i.pinimg.com/originals/52/ec/ba/52ecbaac912849a9bcbac6ff59071ef4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
